.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  gap: 32px 20px;
}

@media (max-width: 480px) {
  .movie-list {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 24px 12px;
  }
}